.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.key {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.fail{
	background: #ef9a9a;
}

.ok{
	background: #26a69a;
}

.hidden {
	background: #cfd8dc
}

.hangman-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.hangman-img .attempt-0{
    margin-left: 0px;
}

.hangman-img .attempt-1{
    margin-left: -200px;
}

.hangman-img .attempt-2{
    margin-left: -400px;
}

.hangman-img .attempt-3{
    margin-left: -600px;
}

.hangman-img .attempt-4{
    margin-left: -800px;
}

.hangman-img .attempt-5{
    margin-left: -1000px;
}

.hangman-img .attempt-6{
    margin-left: -1200px;
}